{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To CaliSync</h1>
    <p class="lead">This is the HealthTech Hackathon. Authors of this code are Daniel Pinto, Thomas Pinto, Justin Boyd, Justin Detone, and Elias Frieling.
    The backend model is written using python 3 and uses
    the sqlite3 package to interface with the sqlite database.</p>

  <div class="col text-center">
    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=7q6YglE7wFs" role="button">
      <p class="lead">Follow this link to a video tutorial on proper way to self-inject</p>
    </a>
  </div>



  <div class="container">
  <div class="col text-center">
    <p class="font-weight-bold">Tips on self medication in between injections</p>
  </div>

<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">Change position often</a>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Hot and cold therapy</a>
  <a class="list-group-item list-group-item-action" href="#list-item-3">Exercise and eat a balanced diet</a>
  <a class="list-group-item list-group-item-action" href="#list-item-4">Over the counter pain medication</a>
</div>
</div>

<div class="container">
<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <h4 id="list-item-1">Change position often</h4>
  <p>When writing or driving, release your grip every 10 to 15 minutes. When watching television or using the computer, get up and move around every 30 minutes. Its important to not overwork your joints or not move thme for an extended period of time in order to reduce the chance of a flare up and to avoid tighness. Stretching your joints often also provides relief. </p>
  <h4 id="list-item-2">Hot and cold therapy</h4>
  <p>You can use both types of temperature therapy depending on your specific symptoms. Heat can be used to warm up stiff joints that have not been active recently to loosen them up. Ice packs can be useful for inflammed areas to provide pain relief to that specific area.</p>
  <h4 id="list-item-3">Exercise and eat a balanced diet</h4>
  <p>Diet and exercise is important for everybody regardless if you're a person with rheumatoid arthritis. A healthly diet provides the body with the correct nutrients and proteins it needs to function as best as it can. Exercise in moderation can help your joints stay active and cause less stiffness. A common recommendation that doctors tell their patients is swimming because your entire body is active while beign under less stress from the water.</p>
  <h4 id="list-item-4">Over the counter pain medication</h4>
  <p>Medicines like motrin, advil, tylenol, etc provide temporary pain relief to affected areas. These are not long term solutions but in times of need relieve pain to all areas for a few hours. </p>
</div>
</div>
</div>
{% endblock %}
