{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To BlueHack</h1>
    <p class="lead">This is the HealthTech Hackathon. Authors of this code are Daniel Pinto, Thomas Pinto, Justin Boyd, Justin Detone, and Elias Frieling.
    The backend model is written using python 3 and uses
    the sqlite3 package to interface with the sqlite database.</p>
  </div>
  <div class="col text-center">
    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=7q6YglE7wFs" role="button">
      <p class="lead">Follow this link to a video tutorial on proper way to self-inject</p>
    </a>
  </div>

{% endblock %}
