{% extends 'layout.html' %}

{% block body %}
  <!-- <div class="jumbotron text-center">
    <h1>How are you feeling?</h1>
    <p class="lead">This is the Sooryen Challenge completed by Daniel Pinto.
    The backend model is written using python 3 along with the BeautifulSoup module for datascraping and uses
    the sqlite3 package to interface with the sqlite database.</p>
  </div>
  <div class="dropdown"> -->

  <!-- <h1>How are you feeling?</h1>
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>

</div> -->
<!-- </div> -->
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>How have you been feeling? Please rank 1 to 10</h2>
  <div class="dropdown_hand">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Hand Pain
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
    </ul>
  </div>

  <div class="dropdown_knee">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Knee Pain
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li><a href="#">10</a></li>
    </ul>
  </div>
</div>

</body>
</html>

{% endblock %}
