{% extends 'layout.html' %}

{% block body %}

<html>
<div class="jumbotron text-center bg-info">
  <h1>How are you feeling?</h1>
  </div>
<form method="POST" role="form" class="form-horizontal">
<div class="container">
<body>
      <h2>Please rate the pain in your arms and hands from 1 to 10</h2>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio1" value=1>
        <label class="form-check-label" for="1inlineRadio1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio2" value=2>
        <label class="form-check-label" for="1inlineRadio2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio3" value=3>
        <label class="form-check-label" for="1inlineRadio3">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio4" value=4>
        <label class="form-check-label" for="1inlineRadio4">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio5" value=5">
        <label class="form-check-label" for="1inlineRadio5">5</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio6" value=6>
        <label class="form-check-label" for="1inlineRadio6">6</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio7" value=7>
        <label class="form-check-label" for="1inlineRadio7">7</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio8" value=8>
        <label class="form-check-label" for="1inlineRadio8">8</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio9" value=9>
        <label class="form-check-label" for="1inlineRadio9">9</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="1inlineRadio10" value=10>
        <label class="form-check-label" for="1inlineRadio10">10</label>
      </div>
</div>

<div class="container">
<body>
      <h2>Please rate the pain in your feet and knees from 1 to 10</h2>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio1" value=1>
        <label class="form-check-label" for="1inlineRadio1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio2" value=2>
        <label class="form-check-label" for="1inlineRadio2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio3" value=3>
        <label class="form-check-label" for="1inlineRadio3">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio4" value=4>
        <label class="form-check-label" for="1inlineRadio4">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio5" value=5>
        <label class="form-check-label" for="1inlineRadio5">5</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio6" value=6>
        <label class="form-check-label" for="1inlineRadio6">6</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio7" value=7>
        <label class="form-check-label" for="1inlineRadio7">7</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio8" value=8>
        <label class="form-check-label" for="1inlineRadio8">8</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio9" value=9>
        <label class="form-check-label" for="1inlineRadio9">9</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="1inlineRadio10" value=10>
        <label class="form-check-label" for="1inlineRadio10">10</label>
      </div>
</div>

<div class="container">
<body>
      <h2>How have you been sleeping from 1 to 10</h2>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio1" value=1>
        <label class="form-check-label" for="1inlineRadio1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio2" value=2>
        <label class="form-check-label" for="1inlineRadio2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio3" value=3>
        <label class="form-check-label" for="1inlineRadio3">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio4" value=4>
        <label class="form-check-label" for="1inlineRadio4">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio5" value=5>
        <label class="form-check-label" for="1inlineRadio5">5</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio6" value=6>
        <label class="form-check-label" for="1inlineRadio6">6</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio7" value=7>
        <label class="form-check-label" for="1inlineRadio7">7</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio8" value=8>
        <label class="form-check-label" for="1inlineRadio8">8</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio9" value=9>
        <label class="form-check-label" for="1inlineRadio9">9</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="1inlineRadio10" value=10>
        <label class="form-check-label" for="1inlineRadio10">10</label>
      </div>
</div>
<div class="row float-md-right p-5">
  <input type="submit" class="btn btn-primary"> </input>
</div>
</form>

{% endblock %}
