{% extends 'layout.html' %}

{% block body %}
  <!-- <div class="jumbotron text-center">
    <h1>How are you feeling?</h1>
    <p class="lead">This is the Sooryen Challenge completed by Daniel Pinto.
    The backend model is written using python 3 along with the BeautifulSoup module for datascraping and uses
    the sqlite3 package to interface with the sqlite database.</p>
  </div>
  <div class="dropdown"> -->

  <!-- <h1>How are you feeling?</h1>
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>

</div> -->
<!-- </div> -->
<html>
<div class="jumbotron text-center">
  <h1>How are you feeling?</h1>
  </div>
<body>
  <div class="row">


    <div class="col-sm-4">
      <p class="lead"> </p>
      <h2>Please rate the pain in your arms and hands from 1 to 10</h2>
      <div class="radio">
      <h2><input type="radio" name="optradio">1</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">2</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">3</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">4</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">5</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">6</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">7</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">8</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">9</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">10</h2>
      </div>
    </div>


    <div class="col-sm-4">
      <p class="lead"> </p>
      <h2>Please rate the pain in your feet and knees from 1 to 10</h2>
      <div class="radio">
      <h2><input type="radio" name="optradio">1</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">2</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">3</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">4</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">5</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">6</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">7</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">8</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">9</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">10</h2>
      </div>
    </div>

    <div class="col-sm-4">
      <p class="lead"> </p>
      <h2>How well have you been sleeping from 1 to 10?</h2>
      <div class="radio">
      <h2><input type="radio" name="optradio">1</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">2</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">3</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">4</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">5</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">6</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">7</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">8</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">9</h2>
      </div>
      <div class="radio">
      <h2><input type="radio" name="optradio">10</h2>
      </div>
    </div>

  </div>

<div class="row float-md-right p-5">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>

<script type="text/javascript">
  //<![CDATA[
  var i = 0;
  if (i < 5) {
    // some code

  }
  //]]>
</script>

</body>
</html>

{% endblock %}
