{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome, Elias</h1>
    <p class="lead">How are you feeling today?</p>


  <div class="jumbotron jumbotron-fluid">
  <form method="POST" role="form" class="form-horizontal">
  <div class="container">
    <h1 class="display-4">Days Since Last Medication: {{days_since_inj}}</h1>
      <div style="text-align: center">
      <input type="submit" class="btn btn-secondary" name= "Dosed" value = "Press this button if you have taken your medication today."> </input>
    </div>

  </div>
  </form>
  <form method="POST" role="form" class="form-horizontal">
  <div class="container">
    <h1 class="display-4">Dosage Left: {{dosage_left}}</h1>
    <p class="lead">Please enter the amount of medication you have left if
    you recently obtaiend more.</p>
    <div style="text-align: center">
      <input type="text" class="btn btn-secondary" name= "Meds" value =""> </input>
    </div>
  </div>
  </form>
</div>
</div>
{% endblock %}
